bin/
.settings
.DS_Store
build/
.gradle
.classpath
.project
target/
.idea/
*.iml
*.iws
test-output/
*.orig
.nb*
location_master-GA.ldb
tmp/
temp/
out/
*.ipr
write.lock
*.log
classes/
.idea/compiler.xml
